#upper{
    display:grid;
    grid-template-columns: fit-content(8ch) fit-content(8ch) 1fr; /* this creates an even two column layout*/
    grid-template-areas: 
            "b b c"
            "b b c"
            "b b c"
            "d d d"
            "e e e";
}
#lower{
    display:grid;
    grid-template-columns: fit-content(8ch) fit-content(8ch) 1fr; /* this creates an even two column layout*/
    grid-template-areas: 
            "b b c"
            "b b c"
            "b b c"
            "d d d"
            "e e e";
}
#authors {

    color: whitesmoke;
    padding-top: 50px;
}
#desc{

    color: whitesmoke;
    padding-bottom: 50px;
}
#second {
    background-color: rgb(31, 31, 31);
}
#third {
    background-color: rgb(22, 22, 22);
}

h4 {
    font-family: 'Poppins'
    
}
#title2, #desc2{
    color: whitesmoke;
    padding-top: 20px;

    padding-left: 60px;
    padding-right: 60px;
}
#mapArea{
    height:100vh;
    width:150vh;
    grid-area: b;
    border:2px solid black;
} 
#title {
    background-color: rgb(22, 22, 22);
    color: rgba(238, 238, 238, 0.993);
}
#desc {
    padding-left: 60px;
    padding-right: 60px;
    
}
#survey{
    grid-area: sidepanel;
} 
.info {
    text-overflow: hidden;
    word-wrap: break-word;
    border:2px solid black;
}
#buttonrandom{
    grid-area: a;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    height:200px;
    width:200px;
    position: relative;
}





#contents{
    grid-area: d;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: white;
}
#contents h4 {
    padding-top: 100px;
    padding-left: 20px;
    font-size: 10px;
}